.section__projects {
  margin: 50px 0 50px 0;
  we .powwownow {
    background: url("https://www.powwownow.co.uk/js/3cdd7dd7be74814cf25104206e2e86f5.svg")
        repeat,
      #926fb4;
    display: block;
    padding: 150px 100px 75px 50px;
    border-radius: 3px;
    font-size: 33px;
    transition: transform 0.4s;
    &:hover {
      transform: rotate(10deg) scale(1.3);
      transform-origin: 50% 50%;
    }
  }

  .fn {
    background: #f37056;
    display: block;
    padding: 50px 75px 100px 150px;
    border-radius: 3px;
    font-size: 33px;
    transition: transform 0.4s;
    &:hover {
      transform: rotate(-10deg) scale(1.3);
      transform-origin: 50% 50%;
    }
  }
}
