@import "reset";
@import "colours";
@import "font";
@import "fadeIn";

.bg-colour {
  &--woodsmoke {
    background-color: $woodsmoke;
  }
}

// Mobile First Layout
.wrapper {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: scroll;
  .grid {
    display: grid;
    width: 1024px;
    .row_one {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: max-content; // @note: Set the height of the row to div with the most content
      grid-row-gap: 10px;
      grid-column-gap: 10px;
    }
    .row_one {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
// Desktop Layout
@media only screen and (min-width: 768px) {
  .wrapper {
    .grid {
      width: 1024px;
      .row_one {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}